/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body, html {
       padding: 0;
       margin: 0;
       height: 100%;
       background-color: #0F1C2C;
       font-family: 'Montserrat', sans-serif;
       font-weight: 200;
   }
   #primary {
     position: relative;
     min-height: 100%;
     width: 100%;
     color: #F95400;
   }
   #cover {
     position: absolute;
     height: 240px;
     width: 320px;
     top: 50%;
     left: 50%;
     margin-top: -120px;
     margin-left: -160px;
     background-color: #0F1C2C;
     z-index: 9;
   }
   .logo {
     width: 320px;
     height: 240px;
     letter-spacing: 3px;
     font-size: 24px;
     line-height: 24px;
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-left: -160px;
     margin-top: -120px;
   }
   .wrapper {
     height: 24px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 12px;
     padding-bottom: 12px;
   }
   .row-large {
     font-size: 24px;
   }
   .row-small {
     font-size: 14px;
   }
   .row {
     color: #F95400;
     position: relative;
     display: inline-block;
   }
   .row::before,
   .row::after {
     content: attr(data-text);
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #0F1C2C;
   }
   .row::before {
     left: 3px;
     text-shadow: -2px 0 #0CA6E8;
     animation-delay: 1s;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-delay: 0s;
     animation-iteration-count: infinite;
     animation-direction: reverse-alternate;
   }
   .row::after {
     left: -3px;
     text-shadow: -2px 0 #FF7100;
     animation-duration: 2s;
     animation-timing-function: linear;
     animation-delay: 0s;
     animation-iteration-count: infinite;
     animation-direction: reverse-alternate;
   }
   .row1::before {
     clip: rect(0px, 40px, 48px, 0px);
     animation-name: row1-a;
   }
   .row1::after {
     clip: rect(0px, 40px, 48px, 0);
     animation-name: row1-b;
   }
   .row2::before {
     clip: rect(0px, 40px, 48px, 0px);
     animation-name: row2-a;
   }
   .row2::after {
     clip: rect(0px, 40px, 48px, 0);
     animation-name: row2-b;
   }
   .row3::before {
     clip: rect(0px, 230px, 48px, 0px);
     animation-name: row3-a;
   }
   .row3::after {
     clip: rect(0px, 230px, 48px, 0);
     animation-name: row3-b;
   }
   .row4::before {
     clip: rect(0px, 150px, 48px, 0px);
     animation-name: row4-a;
   }
   .row4::after {
     clip: rect(0px, 150px, 48px, 0);
     animation-name: row4-b;
   }
   .row5::before {
     clip: rect(0px, 40px, 48px, 0px);
     animation-name: row5-a;
   }
   .row5::after {
     clip: rect(0px, 40px, 48px, 0);
     animation-name: row5-b;
   }
   @keyframes row1-a {
     0% {
       clip: rect(15px, 9999px, 5px, 0);
     }
     4.166666666666666% {
       clip: rect(2px, 9999px, 17px, 0);
     }
     8.333333333333332% {
       clip: rect(13px, 9999px, 8px, 0);
     }
     12.5% {
       clip: rect(12px, 9999px, 15px, 0);
     }
     16.666666666666664% {
       clip: rect(10px, 9999px, 11px, 0);
     }
     20.833333333333336% {
       clip: rect(6px, 9999px, 21px, 0);
     }
     25% {
       clip: rect(1px, 9999px, 1px, 0);
     }
     29.166666666666668% {
       clip: rect(8px, 9999px, 17px, 0);
     }
     33.33333333333333% {
       clip: rect(4px, 9999px, 19px, 0);
     }
     37.5% {
       clip: rect(7px, 9999px, 8px, 0);
     }
     41.66666666666667% {
       clip: rect(0px, 9999px, 23px, 0);
     }
     45.83333333333333% {
       clip: rect(16px, 9999px, 23px, 0);
     }
     50% {
       clip: rect(3px, 9999px, 0px, 0);
     }
     54.166666666666664% {
       clip: rect(12px, 9999px, 7px, 0);
     }
     58.333333333333336% {
       clip: rect(6px, 9999px, 13px, 0);
     }
     62.5% {
       clip: rect(21px, 9999px, 10px, 0);
     }
     66.66666666666666% {
       clip: rect(1px, 9999px, 12px, 0);
     }
     70.83333333333334% {
       clip: rect(14px, 9999px, 13px, 0);
     }
     75% {
       clip: rect(12px, 9999px, 23px, 0);
     }
     79.16666666666666% {
       clip: rect(7px, 9999px, 8px, 0);
     }
     83.33333333333334% {
       clip: rect(12px, 9999px, 22px, 0);
     }
     87.5% {
       clip: rect(2px, 9999px, 20px, 0);
     }
     91.66666666666666% {
       clip: rect(23px, 9999px, 7px, 0);
     }
     95.83333333333334% {
       clip: rect(7px, 9999px, 0px, 0);
     }
     100% {
       clip: rect(3px, 9999px, 19px, 0);
     }
   }
   @keyframes row1-b {
     6.666666666666667% {
       clip: rect(3px, 9999px, 23px, 0);
     }
     10% {
       clip: rect(3px, 9999px, 11px, 0);
     }
     13.333333333333334% {
       clip: rect(17px, 9999px, 23px, 0);
     }
     16.666666666666664% {
       clip: rect(20px, 9999px, 23px, 0);
     }
     20% {
       clip: rect(19px, 9999px, 10px, 0);
     }
     23.333333333333332% {
       clip: rect(5px, 9999px, 18px, 0);
     }
     26.666666666666668% {
       clip: rect(12px, 9999px, 7px, 0);
     }
     30% {
       clip: rect(7px, 9999px, 10px, 0);
     }
     33.33333333333333% {
       clip: rect(23px, 9999px, 20px, 0);
     }
     36.666666666666664% {
       clip: rect(15px, 9999px, 5px, 0);
     }
     40% {
       clip: rect(1px, 9999px, 16px, 0);
     }
     43.333333333333336% {
       clip: rect(19px, 9999px, 3px, 0);
     }
     46.666666666666664% {
       clip: rect(13px, 9999px, 7px, 0);
     }
     50% {
       clip: rect(7px, 9999px, 18px, 0);
     }
     53.333333333333336% {
       clip: rect(9px, 9999px, 10px, 0);
     }
     56.666666666666664% {
       clip: rect(7px, 9999px, 23px, 0);
     }
     60% {
       clip: rect(1px, 9999px, 6px, 0);
     }
     63.33333333333333% {
       clip: rect(12px, 9999px, 9px, 0);
     }
     66.66666666666666% {
       clip: rect(1px, 9999px, 8px, 0);
     }
     70% {
       clip: rect(2px, 9999px, 18px, 0);
     }
     73.33333333333333% {
       clip: rect(14px, 9999px, 18px, 0);
     }
     76.66666666666667% {
       clip: rect(0px, 9999px, 7px, 0);
     }
     80% {
       clip: rect(8px, 9999px, 1px, 0);
     }
     83.33333333333334% {
       clip: rect(11px, 9999px, 22px, 0);
     }
     86.66666666666667% {
       clip: rect(3px, 9999px, 10px, 0);
     }
     90% {
       clip: rect(13px, 9999px, 16px, 0);
     }
     93.33333333333333% {
       clip: rect(12px, 9999px, 0px, 0);
     }
     96.66666666666667% {
       clip: rect(7px, 9999px, 22px, 0);
     }
     100% {
       clip: rect(7px, 9999px, 8px, 0);
     }
   }
   @keyframes row2-a {
     0% {
       clip: rect(3px, 9999px, 21px, 0);
     }
     4.166666666666666% {
       clip: rect(24px, 9999px, 5px, 0);
     }
     8.333333333333332% {
       clip: rect(11px, 9999px, 3px, 0);
     }
     12.5% {
       clip: rect(21px, 9999px, 14px, 0);
     }
     16.666666666666664% {
       clip: rect(6px, 9999px, 4px, 0);
     }
     20.833333333333336% {
       clip: rect(4px, 9999px, 17px, 0);
     }
     25% {
       clip: rect(23px, 9999px, 13px, 0);
     }
     29.166666666666668% {
       clip: rect(22px, 9999px, 9px, 0);
     }
     33.33333333333333% {
       clip: rect(7px, 9999px, 9px, 0);
     }
     37.5% {
       clip: rect(22px, 9999px, 5px, 0);
     }
     41.66666666666667% {
       clip: rect(2px, 9999px, 4px, 0);
     }
     45.83333333333333% {
       clip: rect(7px, 9999px, 12px, 0);
     }
     50% {
       clip: rect(23px, 9999px, 12px, 0);
     }
     54.166666666666664% {
       clip: rect(6px, 9999px, 9px, 0);
     }
     58.333333333333336% {
       clip: rect(0px, 9999px, 21px, 0);
     }
     62.5% {
       clip: rect(17px, 9999px, 13px, 0);
     }
     66.66666666666666% {
       clip: rect(5px, 9999px, 16px, 0);
     }
     70.83333333333334% {
       clip: rect(24px, 9999px, 13px, 0);
     }
     75% {
       clip: rect(21px, 9999px, 19px, 0);
     }
     79.16666666666666% {
       clip: rect(0px, 9999px, 6px, 0);
     }
     83.33333333333334% {
       clip: rect(4px, 9999px, 24px, 0);
     }
     87.5% {
       clip: rect(0px, 9999px, 21px, 0);
     }
     91.66666666666666% {
       clip: rect(20px, 9999px, 20px, 0);
     }
     95.83333333333334% {
       clip: rect(6px, 9999px, 14px, 0);
     }
     100% {
       clip: rect(18px, 9999px, 1px, 0);
     }
   }
   @keyframes row2-b {
     6.666666666666667% {
       clip: rect(15px, 9999px, 16px, 0);
     }
     10% {
       clip: rect(10px, 9999px, 21px, 0);
     }
     13.333333333333334% {
       clip: rect(4px, 9999px, 18px, 0);
     }
     16.666666666666664% {
       clip: rect(16px, 9999px, 8px, 0);
     }
     20% {
       clip: rect(0px, 9999px, 19px, 0);
     }
     23.333333333333332% {
       clip: rect(23px, 9999px, 14px, 0);
     }
     26.666666666666668% {
       clip: rect(1px, 9999px, 17px, 0);
     }
     30% {
       clip: rect(21px, 9999px, 9px, 0);
     }
     33.33333333333333% {
       clip: rect(3px, 9999px, 9px, 0);
     }
     36.666666666666664% {
       clip: rect(1px, 9999px, 16px, 0);
     }
     40% {
       clip: rect(15px, 9999px, 15px, 0);
     }
     43.333333333333336% {
       clip: rect(17px, 9999px, 1px, 0);
     }
     46.666666666666664% {
       clip: rect(20px, 9999px, 12px, 0);
     }
     50% {
       clip: rect(16px, 9999px, 13px, 0);
     }
     53.333333333333336% {
       clip: rect(21px, 9999px, 19px, 0);
     }
     56.666666666666664% {
       clip: rect(9px, 9999px, 20px, 0);
     }
     60% {
       clip: rect(8px, 9999px, 10px, 0);
     }
     63.33333333333333% {
       clip: rect(3px, 9999px, 15px, 0);
     }
     66.66666666666666% {
       clip: rect(11px, 9999px, 4px, 0);
     }
     70% {
       clip: rect(19px, 9999px, 17px, 0);
     }
     73.33333333333333% {
       clip: rect(14px, 9999px, 19px, 0);
     }
     76.66666666666667% {
       clip: rect(11px, 9999px, 7px, 0);
     }
     80% {
       clip: rect(2px, 9999px, 7px, 0);
     }
     83.33333333333334% {
       clip: rect(18px, 9999px, 1px, 0);
     }
     86.66666666666667% {
       clip: rect(24px, 9999px, 23px, 0);
     }
     90% {
       clip: rect(20px, 9999px, 1px, 0);
     }
     93.33333333333333% {
       clip: rect(12px, 9999px, 11px, 0);
     }
     96.66666666666667% {
       clip: rect(2px, 9999px, 18px, 0);
     }
     100% {
       clip: rect(19px, 9999px, 1px, 0);
     }
   }
   @keyframes row3-a {
     0% {
       clip: rect(20px, 9999px, 8px, 0);
     }
     4.166666666666666% {
       clip: rect(13px, 9999px, 5px, 0);
     }
     8.333333333333332% {
       clip: rect(11px, 9999px, 15px, 0);
     }
     12.5% {
       clip: rect(12px, 9999px, 23px, 0);
     }
     16.666666666666664% {
       clip: rect(6px, 9999px, 23px, 0);
     }
     20.833333333333336% {
       clip: rect(19px, 9999px, 11px, 0);
     }
     25% {
       clip: rect(21px, 9999px, 16px, 0);
     }
     29.166666666666668% {
       clip: rect(4px, 9999px, 3px, 0);
     }
     33.33333333333333% {
       clip: rect(11px, 9999px, 3px, 0);
     }
     37.5% {
       clip: rect(24px, 9999px, 11px, 0);
     }
     41.66666666666667% {
       clip: rect(11px, 9999px, 1px, 0);
     }
     45.83333333333333% {
       clip: rect(6px, 9999px, 1px, 0);
     }
     50% {
       clip: rect(23px, 9999px, 6px, 0);
     }
     54.166666666666664% {
       clip: rect(3px, 9999px, 4px, 0);
     }
     58.333333333333336% {
       clip: rect(11px, 9999px, 10px, 0);
     }
     62.5% {
       clip: rect(5px, 9999px, 21px, 0);
     }
     66.66666666666666% {
       clip: rect(5px, 9999px, 8px, 0);
     }
     70.83333333333334% {
       clip: rect(4px, 9999px, 10px, 0);
     }
     75% {
       clip: rect(3px, 9999px, 4px, 0);
     }
     79.16666666666666% {
       clip: rect(8px, 9999px, 3px, 0);
     }
     83.33333333333334% {
       clip: rect(10px, 9999px, 1px, 0);
     }
     87.5% {
       clip: rect(8px, 9999px, 8px, 0);
     }
     91.66666666666666% {
       clip: rect(8px, 9999px, 20px, 0);
     }
     95.83333333333334% {
       clip: rect(17px, 9999px, 17px, 0);
     }
     100% {
       clip: rect(15px, 9999px, 15px, 0);
     }
   }
   @keyframes row3-b {
     6.666666666666667% {
       clip: rect(8px, 9999px, 9px, 0);
     }
     10% {
       clip: rect(19px, 9999px, 9px, 0);
     }
     13.333333333333334% {
       clip: rect(17px, 9999px, 0px, 0);
     }
     16.666666666666664% {
       clip: rect(17px, 9999px, 14px, 0);
     }
     20% {
       clip: rect(15px, 9999px, 17px, 0);
     }
     23.333333333333332% {
       clip: rect(18px, 9999px, 11px, 0);
     }
     26.666666666666668% {
       clip: rect(23px, 9999px, 17px, 0);
     }
     30% {
       clip: rect(7px, 9999px, 4px, 0);
     }
     33.33333333333333% {
       clip: rect(8px, 9999px, 1px, 0);
     }
     36.666666666666664% {
       clip: rect(11px, 9999px, 8px, 0);
     }
     40% {
       clip: rect(24px, 9999px, 1px, 0);
     }
     43.333333333333336% {
       clip: rect(17px, 9999px, 6px, 0);
     }
     46.666666666666664% {
       clip: rect(21px, 9999px, 2px, 0);
     }
     50% {
       clip: rect(7px, 9999px, 6px, 0);
     }
     53.333333333333336% {
       clip: rect(2px, 9999px, 10px, 0);
     }
     56.666666666666664% {
       clip: rect(14px, 9999px, 7px, 0);
     }
     60% {
       clip: rect(15px, 9999px, 3px, 0);
     }
     63.33333333333333% {
       clip: rect(17px, 9999px, 13px, 0);
     }
     66.66666666666666% {
       clip: rect(20px, 9999px, 10px, 0);
     }
     70% {
       clip: rect(14px, 9999px, 10px, 0);
     }
     73.33333333333333% {
       clip: rect(14px, 9999px, 0px, 0);
     }
     76.66666666666667% {
       clip: rect(15px, 9999px, 14px, 0);
     }
     80% {
       clip: rect(23px, 9999px, 18px, 0);
     }
     83.33333333333334% {
       clip: rect(18px, 9999px, 24px, 0);
     }
     86.66666666666667% {
       clip: rect(10px, 9999px, 13px, 0);
     }
     90% {
       clip: rect(3px, 9999px, 17px, 0);
     }
     93.33333333333333% {
       clip: rect(20px, 9999px, 14px, 0);
     }
     96.66666666666667% {
       clip: rect(5px, 9999px, 22px, 0);
     }
     100% {
       clip: rect(18px, 9999px, 2px, 0);
     }
   }
   @keyframes row4-a {
     0% {
       clip: rect(20px, 9999px, 12px, 0);
     }
     4.166666666666666% {
       clip: rect(0px, 9999px, 4px, 0);
     }
     8.333333333333332% {
       clip: rect(3px, 9999px, 10px, 0);
     }
     12.5% {
       clip: rect(21px, 9999px, 2px, 0);
     }
     16.666666666666664% {
       clip: rect(23px, 9999px, 7px, 0);
     }
     20.833333333333336% {
       clip: rect(0px, 9999px, 0px, 0);
     }
     25% {
       clip: rect(14px, 9999px, 19px, 0);
     }
     29.166666666666668% {
       clip: rect(23px, 9999px, 6px, 0);
     }
     33.33333333333333% {
       clip: rect(9px, 9999px, 17px, 0);
     }
     37.5% {
       clip: rect(11px, 9999px, 16px, 0);
     }
     41.66666666666667% {
       clip: rect(15px, 9999px, 3px, 0);
     }
     45.83333333333333% {
       clip: rect(11px, 9999px, 8px, 0);
     }
     50% {
       clip: rect(7px, 9999px, 16px, 0);
     }
     54.166666666666664% {
       clip: rect(17px, 9999px, 23px, 0);
     }
     58.333333333333336% {
       clip: rect(17px, 9999px, 9px, 0);
     }
     62.5% {
       clip: rect(18px, 9999px, 17px, 0);
     }
     66.66666666666666% {
       clip: rect(5px, 9999px, 14px, 0);
     }
     70.83333333333334% {
       clip: rect(8px, 9999px, 0px, 0);
     }
     75% {
       clip: rect(17px, 9999px, 7px, 0);
     }
     79.16666666666666% {
       clip: rect(0px, 9999px, 23px, 0);
     }
     83.33333333333334% {
       clip: rect(12px, 9999px, 2px, 0);
     }
     87.5% {
       clip: rect(22px, 9999px, 24px, 0);
     }
     91.66666666666666% {
       clip: rect(16px, 9999px, 4px, 0);
     }
     95.83333333333334% {
       clip: rect(17px, 9999px, 13px, 0);
     }
     100% {
       clip: rect(17px, 9999px, 21px, 0);
     }
   }
   @keyframes row4-b {
     6.666666666666667% {
       clip: rect(23px, 9999px, 4px, 0);
     }
     10% {
       clip: rect(3px, 9999px, 11px, 0);
     }
     13.333333333333334% {
       clip: rect(12px, 9999px, 8px, 0);
     }
     16.666666666666664% {
       clip: rect(10px, 9999px, 20px, 0);
     }
     20% {
       clip: rect(4px, 9999px, 0px, 0);
     }
     23.333333333333332% {
       clip: rect(2px, 9999px, 5px, 0);
     }
     26.666666666666668% {
       clip: rect(22px, 9999px, 7px, 0);
     }
     30% {
       clip: rect(8px, 9999px, 12px, 0);
     }
     33.33333333333333% {
       clip: rect(24px, 9999px, 1px, 0);
     }
     36.666666666666664% {
       clip: rect(18px, 9999px, 9px, 0);
     }
     40% {
       clip: rect(4px, 9999px, 4px, 0);
     }
     43.333333333333336% {
       clip: rect(24px, 9999px, 20px, 0);
     }
     46.666666666666664% {
       clip: rect(19px, 9999px, 20px, 0);
     }
     50% {
       clip: rect(15px, 9999px, 1px, 0);
     }
     53.333333333333336% {
       clip: rect(5px, 9999px, 13px, 0);
     }
     56.666666666666664% {
       clip: rect(24px, 9999px, 17px, 0);
     }
     60% {
       clip: rect(20px, 9999px, 1px, 0);
     }
     63.33333333333333% {
       clip: rect(12px, 9999px, 21px, 0);
     }
     66.66666666666666% {
       clip: rect(8px, 9999px, 11px, 0);
     }
     70% {
       clip: rect(22px, 9999px, 0px, 0);
     }
     73.33333333333333% {
       clip: rect(3px, 9999px, 22px, 0);
     }
     76.66666666666667% {
       clip: rect(19px, 9999px, 3px, 0);
     }
     80% {
       clip: rect(6px, 9999px, 5px, 0);
     }
     83.33333333333334% {
       clip: rect(7px, 9999px, 14px, 0);
     }
     86.66666666666667% {
       clip: rect(9px, 9999px, 10px, 0);
     }
     90% {
       clip: rect(5px, 9999px, 23px, 0);
     }
     93.33333333333333% {
       clip: rect(11px, 9999px, 21px, 0);
     }
     96.66666666666667% {
       clip: rect(7px, 9999px, 6px, 0);
     }
     100% {
       clip: rect(10px, 9999px, 3px, 0);
     }
   }
   @keyframes row5-a {
     0% {
       clip: rect(8px, 9999px, 7px, 0);
     }
     4.166666666666666% {
       clip: rect(11px, 9999px, 6px, 0);
     }
     8.333333333333332% {
       clip: rect(8px, 9999px, 4px, 0);
     }
     12.5% {
       clip: rect(3px, 9999px, 8px, 0);
     }
     16.666666666666664% {
       clip: rect(9px, 9999px, 8px, 0);
     }
     20.833333333333336% {
       clip: rect(20px, 9999px, 12px, 0);
     }
     25% {
       clip: rect(15px, 9999px, 24px, 0);
     }
     29.166666666666668% {
       clip: rect(16px, 9999px, 17px, 0);
     }
     33.33333333333333% {
       clip: rect(1px, 9999px, 4px, 0);
     }
     37.5% {
       clip: rect(14px, 9999px, 16px, 0);
     }
     41.66666666666667% {
       clip: rect(22px, 9999px, 4px, 0);
     }
     45.83333333333333% {
       clip: rect(5px, 9999px, 5px, 0);
     }
     50% {
       clip: rect(1px, 9999px, 23px, 0);
     }
     54.166666666666664% {
       clip: rect(20px, 9999px, 4px, 0);
     }
     58.333333333333336% {
       clip: rect(2px, 9999px, 10px, 0);
     }
     62.5% {
       clip: rect(1px, 9999px, 22px, 0);
     }
     66.66666666666666% {
       clip: rect(17px, 9999px, 19px, 0);
     }
     70.83333333333334% {
       clip: rect(13px, 9999px, 23px, 0);
     }
     75% {
       clip: rect(17px, 9999px, 19px, 0);
     }
     79.16666666666666% {
       clip: rect(9px, 9999px, 5px, 0);
     }
     83.33333333333334% {
       clip: rect(17px, 9999px, 11px, 0);
     }
     87.5% {
       clip: rect(1px, 9999px, 8px, 0);
     }
     91.66666666666666% {
       clip: rect(18px, 9999px, 14px, 0);
     }
     95.83333333333334% {
       clip: rect(8px, 9999px, 18px, 0);
     }
     100% {
       clip: rect(21px, 9999px, 18px, 0);
     }
   }
   @keyframes row5-b {
     6.666666666666667% {
       clip: rect(10px, 9999px, 22px, 0);
     }
     10% {
       clip: rect(12px, 9999px, 7px, 0);
     }
     13.333333333333334% {
       clip: rect(19px, 9999px, 4px, 0);
     }
     16.666666666666664% {
       clip: rect(24px, 9999px, 1px, 0);
     }
     20% {
       clip: rect(16px, 9999px, 11px, 0);
     }
     23.333333333333332% {
       clip: rect(18px, 9999px, 14px, 0);
     }
     26.666666666666668% {
       clip: rect(6px, 9999px, 19px, 0);
     }
     30% {
       clip: rect(7px, 9999px, 24px, 0);
     }
     33.33333333333333% {
       clip: rect(14px, 9999px, 14px, 0);
     }
     36.666666666666664% {
       clip: rect(17px, 9999px, 14px, 0);
     }
     40% {
       clip: rect(5px, 9999px, 20px, 0);
     }
     43.333333333333336% {
       clip: rect(9px, 9999px, 17px, 0);
     }
     46.666666666666664% {
       clip: rect(3px, 9999px, 9px, 0);
     }
     50% {
       clip: rect(10px, 9999px, 9px, 0);
     }
     53.333333333333336% {
       clip: rect(20px, 9999px, 0px, 0);
     }
     56.666666666666664% {
       clip: rect(0px, 9999px, 12px, 0);
     }
     60% {
       clip: rect(17px, 9999px, 4px, 0);
     }
     63.33333333333333% {
       clip: rect(18px, 9999px, 21px, 0);
     }
     66.66666666666666% {
       clip: rect(18px, 9999px, 12px, 0);
     }
     70% {
       clip: rect(8px, 9999px, 10px, 0);
     }
     73.33333333333333% {
       clip: rect(12px, 9999px, 24px, 0);
     }
     76.66666666666667% {
       clip: rect(4px, 9999px, 7px, 0);
     }
     80% {
       clip: rect(17px, 9999px, 16px, 0);
     }
     83.33333333333334% {
       clip: rect(2px, 9999px, 12px, 0);
     }
     86.66666666666667% {
       clip: rect(20px, 9999px, 9px, 0);
     }
     90% {
       clip: rect(23px, 9999px, 11px, 0);
     }
     93.33333333333333% {
       clip: rect(13px, 9999px, 4px, 0);
     }
     96.66666666666667% {
       clip: rect(3px, 9999px, 13px, 0);
     }
     100% {
       clip: rect(21px, 9999px, 21px, 0);
     }
 }
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
